[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/assimp/assimp.git
[submodule "external/RmlUi"]
	path = external/RmlUi
	url = https://github.com/mikke89/RmlUi.git
[submodule "external/BBEngine"]
	path = external/BBEngine
	url = https://github.com/Bigbee452/BBEngine.git
